<!DOCTYPE html>
<head>
    <title>Location-Specific Results</title>
    <link rel="stylesheet" href = "/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/lp-and-basicUser-styles.css">

</head>
<body>
  <header>
    <nav>
      <a href = "/"> <img class = "icon active logo" src = "/icons-pretty-pics/icon-small-ISS.png"> </a>
      <ul>
        <li>
          <form action="/aboutus">
            <input type="hidden" name="city" value=<%= location.search_query%>>
            <button type="submit">About Us</button>
          </form>
        </li>
        <li>
          <form action="/info">
            <input type="hidden" name="city" value=<%= location.search_query%>>
            <button type="submit">Fun Facts</button>
          </form>
        </li>
      </ul>
    
      <hr class = "hrBottom">
    
    </nav>
  </header>
  
  <div>
    <img class = "apod" src="<%= pic.url%>" alt="Astronomy pic of day"> 
  </div>
  <main id = "results">

    <h2 class = "headline">Your Best View in <br><%= location.formatted_query %></h2>
    <div class="decision">
      <p>IF LOGIC GOES HERE</p>
    </div>
  
      
    <h2 class = "headline">Your Weather</h2>
    
    <% weather.forEach(day => { %>
    <div class="weather">
      <h2> <%= day.date %> </h2>
      <img src="<%= day.weatherIconURL%>" class = "wxIcon" alt = "weather icon">
      <h2> <%= day.description %> </h2>
      <h2> <%= day.temp %> </h2>
    </div>
    <%})%>



    <h2 class = "headline">Your Next Few Passes</h2>
    <% issPasses.forEach(pass => { %>
    <div class="pass-times">
      <h3> <%= pass.date %> </h3>
      <h3> <%= pass.time %> </h3>
      <h3> <%= pass.duration %> minutes</h3>
      <hr class = "hrBottom2">
    </div>
    <%})%>

  <!-- //////form for 3rd party text mgs///// -->

  <h2 class = "headline">Right now, the ISS is over: </h2>
  <hr class = "hrBottom2">

  <div >
      <img class = "issMap" src = "/icons-pretty-pics/ground-track.png">
  </div>

  <!-- <div> -->
  <!-- <canvas id='rotatingGlobe' width='400' height='400'
  style='width: 400px; height: 400px; cursor: move;'></canvas> -->
  <!-- </div> -->
  
  </main>

<footer>
  <a href = "/aboutus">Meet The Team</a>
  <p> &copy 2020: Ashley Casimir, Kim Damalas, Bobby McPherson</p>
</footer>
</body>
